@use "mods/variables";
@use "mods/header";
@use "mods/hero";
@use "mods/problem";
@use "mods/services";
@use "mods/stack";
@use "mods/pricing";
@use "mods/faq";
@use "mods/policy";
@use "mods/contact";
@use "mods/footer";

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: variables.$bodyFont !important;
    color: white !important; 
}

.section-containers {
    min-height: 600px;
    padding-block: 60px;
}
  
.content-containers {
    width: 1280px;
    max-width: 90%;
    margin-inline: auto !important;    
}

h1,h2,h3,h4,h5,h6 {
    font-family: variables.$headFont !important;
}

img {
    max-width: 100%;
}

.section-subheadings {
    color: variables.$primary !important;
    font-family: variables.$subHeadFont !important;
    letter-spacing: 2px;
}
  
@media screen and (min-width: 600px) and (max-width: 1025px) {
    .section-containers {
      min-height: 700px;
      padding-block: 70px;
    }
}
@media screen and (min-width: 1026px) {
    .section-containers {
      min-height: 800px;
      padding-block: 80px;
    }
}
