/*$bgColor: #0A0D12;*/
header {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  position: fixed !important;
  top: 0;
  z-index: 1000;
  background: rgba(14, 16, 18, 0.9);
  border: 0px solid rgba(255, 255, 255, 0.1);
  border-bottom-width: 1px;
  transition: 0.3s ease;
}
header img {
  width: 150px;
}
header a {
  color: white !important;
}

#navigation {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100%;
  background-color: #0E1012;
}
#navigation a {
  text-align: center !important;
}
#navigation a::before, #navigation a::after {
  display: none;
}

#navigation ul {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.nav-contact {
  text-align: left !important;
  background-color: none !important;
}

.nav-contact:hover {
  background: none !important;
}

.nav-control {
  background: none;
  border: none;
  font-size: 1em;
  color: #fff;
}

.nav-close {
  position: absolute;
  top: 2%;
  right: 5%;
}

@media screen and (min-width: 992px) {
  #navigation {
    position: static;
    height: unset;
    width: unset;
    background-color: inherit;
  }
  #navigation a {
    position: relative;
    text-align: unset !important;
  }
  #navigation a:not(.nav-contact)::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 25%;
    background-color: #a1a1aa;
    transition: 0.5s ease;
    width: 10px;
    height: 10px;
    bottom: -10%;
    border-radius: 50%;
    z-index: 2;
  }
  #navigation a:not(.nav-contact)::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 25%;
    background-color: #a1a1aa;
    transition: 0.5s ease;
    width: 50%;
    height: 2px;
  }
  #navigation a:hover::before {
    left: 75%;
    background-color: #e50914;
    box-shadow: 0 0 10px 5px #e50914;
  }
  #navigation a:hover::after {
    background-color: #e50914;
    box-shadow: 0 0 10px 1px #e50914;
  }
  #navigation ul {
    flex-direction: row;
    margin-top: 0;
  }
  .nav-contact {
    text-align: center !important;
    background-color: #e50914 !important;
    color: white;
  }
  .nav-contact:hover {
    background-color: #af0810 !important;
  }
  .nav-control {
    display: none;
  }
}
.hero {
  height: 96vh;
  position: relative;
}

/*
.background-effect {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: radial-gradient(
        #f4f4f555 1px,
        transparent 1px
    );
    background-size: 50px 50px;    
}
*/
.hero-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.red-gradient {
  width: 900px;
  height: 560px;
  position: absolute;
  top: -10%;
  left: 0;
  background: radial-gradient(ellipse 1600px 1000px at 30% 0%, rgba(236, 48, 57, 0.2666666667), rgba(228, 50, 59, 0.2666666667), transparent 40%);
}

#matrix {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.hero-whatsapp:hover {
  background-color: hsl(120, 70%, 26%) !important;
}

.hero-contact:hover {
  background: #af0810 !important;
}

#problem {
  color: #000;
}

.problem-container {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  gap: 20px;
}

.problem-container > div {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 24px 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.problem-container > div:hover {
  transform: translateY(-10px);
  border-color: #e50914;
  box-shadow: 0 0 1px #e50914 inset;
}

.problem-no {
  color: #e50914;
}

.problem-container h6:first-child {
  color: rgba(0, 0, 0, 0.5);
  font-family: "JetBrains Mono", monospace !important;
  letter-spacing: 2px;
  font-size: 0.8rem !important;
  margin-bottom: 1rem;
}

.problem-container p {
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 576px) {
  .problem-container {
    grid-template-columns: repeat(2, 2fr);
    justify-content: start;
  }
}
@media screen and (min-width: 992px) {
  .problem-container {
    grid-template-columns: repeat(4, 2fr);
    justify-content: start;
  }
}
#services {
  background-color: #0E1012;
  min-height: unset !important;
}

.service-conts {
  background-color: #1A1D1F !important;
  border-radius: 8px;
  padding: 20px;
}
.service-conts span {
  color: #e50914;
  font-size: 2rem;
}
.service-conts p {
  color: #d1d1d1 !important;
}

#stack {
  background-color: #111315;
}

.banner {
  width: 100%;
  height: 30vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.banner .slider {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 20%;
  left: calc(50% - 50px);
  transform-style: preserve-3d;
  transform: perspective(300px);
  animation: autoRun 20s linear infinite;
}
@keyframes autoRun {
  from {
    transform: perspective(300px) rotateX(-18deg) rotateY(0deg);
  }
  to {
    transform: perspective(300px) rotateX(-18deg) rotateY(360deg);
  }
}
.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * 360 / var(--quantity) * 1deg)) translateZ(150px);
}
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 0;
}

.tech-stack > div {
  background-color: #1A1D1F;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #d1d1d1;
}
.tech-stack > div:hover {
  border-color: #e50914;
  box-shadow: 0 0 4px #e50914 inset;
}

@media screen and (min-width: 992px) {
  .banner {
    height: 40vh;
  }
  .banner .slider {
    width: 200px;
    height: 100px;
    left: calc(50% - 100px);
    transform: perspective(600px);
  }
  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * 360 / var(--quantity) * 1deg)) translateZ(300px);
  }
  @keyframes autoRun {
    from {
      transform: perspective(600px) rotateX(-18deg) rotateY(0deg);
    }
    to {
      transform: perspective(600px) rotateX(-18deg) rotateY(360deg);
    }
  }
  .tech-stack {
    width: 75%;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1025px) {
  .banner {
    height: 60vh;
  }
}
#pricing {
  background-color: #0E1012;
}

.pricing .pricing-container {
  color: #d1d1d1;
}
.pricing .pricing-container .pricing-cont {
  background-color: #1A1D1F;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.pricing .pricing-container .pricing-cont a {
  background-color: #e50914 !important;
  color: white;
  width: 100%;
  margin-top: 24px;
}
.pricing .pricing-container .pricing-cont:first-child {
  border-color: #e50914 !important;
}
.pricing .pricing-container .pricing-cont:hover {
  border-color: #e50914;
  box-shadow: 0 0 5px #e50914 inset;
}
.pricing .pricing-container h4 {
  color: white;
}
.pricing .pricing-container h3 {
  color: #e50914;
}
.pricing .pricing-container ul {
  list-style: none;
}
.pricing .pricing-container ul li {
  position: relative;
}
.pricing .pricing-container ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #e50914;
  border-radius: 50%;
  position: absolute;
  left: -5%;
  top: calc(50% - 3px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif !important;
  color: white !important;
}

.section-containers {
  min-height: 600px;
  padding-block: 60px;
}

.content-containers {
  width: 1280px;
  max-width: 90%;
  margin-inline: auto !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Space Grotesk", sans-serif !important;
}

img {
  max-width: 100%;
}

.section-subheadings {
  color: #e50914 !important;
  font-family: "JetBrains Mono", monospace !important;
  letter-spacing: 2px;
}

@media screen and (min-width: 600px) and (max-width: 1025px) {
  .section-containers {
    min-height: 700px;
    padding-block: 70px;
  }
}
@media screen and (min-width: 1026px) {
  .section-containers {
    min-height: 800px;
    padding-block: 80px;
  }
}

/*# sourceMappingURL=styles.css.map */
