@use "variables";

#contact {
    background-color: variables.$bgColor;
}

.contact-intro {
    article p {
        a {
            color: #d1d1d1 !important;            
        }

        a:hover {
            color: variables.$primary !important;
        }

        .whatsapp-contact:hover {
            color: #198754 !important;
        }
    }

    .contact-text {
        background-color: variables.$accentBg;
        padding:20px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #d1d1d1;
        border: 1px solid rgba(255,255,255,0.5);
    }
}

#contactForm {
    background-color: variables.$accentBg;
    padding: 2rem;
    border-radius: 20px;

    label, input {
        display: block;
    }
    label {
        margin-block: 12px;
    }
    input, textarea {
        width: 100%;
        background-color: variables.$bgColor;
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 10px 16px;
        margin-top: 8px;
    }

    @mixin textInput($minHeight) {
        color: #d1d1d1;
        min-height: $minHeight;
    }

    input:focus, textarea:focus {
        border: 1px solid variables.$primary;
    }

    input {
        @include textInput(2.5rem);
    }
    
    textarea {
        @include textInput(8rem);
    }

    button {
        background-color: variables.$primary;
        color: white;
        width: 100%;
        border-radius: 15px;
        margin-top: 16px;
    }

    button:hover {
        background-color: variables.$primaryHover;
    }
}

@media screen and (min-width: 768px) {
    .contact-text {
        width: 75%;
        margin-inline: auto;
        margin-top: 30px;
    }
}