@use "variables";

footer {
    background-color: variables.$bgColor;
    color: #d1d1d1 !important;
    min-height: unset !important;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-top {
    h4 {
        font-family: variables.$subHeadFont !important;
    }

    ul {
        list-style: none;
        padding-left: 0 !important;

        li {
            margin-left: 0 !important;

            a {
                color: #d1d1d1;
                padding: 0 !important;
            }

            a:hover {
                color: white;
            }
        }
    }

    .footer-logo {
        width: 200px;
    }
}

.footer-brand {
    .footer-profiles {
        a {
            color: #d1d1d1;
            font-size: 1.2rem;
        }

        a:hover {
            color: variables.$primary;
        }

    }
}

@media screen and (max-width: 768px) {
    footer {
        text-align: center;
    }
}