$primary: #e50914;
$secondary: #3b82f6;
$textColor: #f4f4f5;
$white: #fff;
$primaryHover: #af0810;
/*$bgColor: #0A0D12;*/
$bgColor: #111315;
$darkerBg: #07090d;

$bodyFont: "DM Sans", sans-serif;
$headFont: "Space Grotesk", sans-serif;
$subHeadFont: "JetBrains Mono", monospace;