$primary: #e50914;
$secondary: #3b82f6;
$textColor: #f4f4f5;
$white: #fff;
$primaryHover: #af0810;
/*$bgColor: #0A0D12;*/
$bgColor: #0E1012;
$secondBg: #111315;
$accentBg: #1A1D1F;

$bodyFont: "DM Sans", sans-serif;
$headFont: "Space Grotesk", sans-serif;
$subHeadFont: "JetBrains Mono", monospace;